backend:
  name: git-gateway
  branch: master

publish_mode: editorial_workflow
media_folder: "static/img/uploads"
public_folder: "/img/uploads"

collections:
  - name: "post" # Used in routes, e.g., /admin/collections/blog
    label: "Post" # Used in the UI
    folder: "content/post" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}/{{month}}/{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Date", name: "date", widget: "date", format: "YYYY-MM-DD"}
      - {label: "Slug", name: "slug", widget: "string"}
      - {label: "Categories", name: "categories", widget: "list", allow_add: true, default: ["wip"]}
      - {label: "Tags", name: "tags", widget: "list", allow_add: true, default: ["wip"]}
      - {label: "ThumbnailImage", name: "thumbnailImage", widget: "image", default: "/img/no-image.jpg"}
      - {label: "Body", name: "body", widget: "markdown", default: "<!--more-->"}
